*{
    margin: 0;
    padding: 0;
}

.displaypixel{
    max-width: 1350px;
    margin: auto;
}
.header-main{

}
.header-main .main-nav{
    display: flex;
    justify-content:space-around;
}
.main-nav .nav-ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
    align-items: center;
    gap: 32px;
}
.nav-ul li a{
   text-decoration: none;
  font-size: 24px;
  color: black;
}

.nav-button{

    color: rgb(255, 255, 255);
    border-radius: 5px;
    background: #30B868;
    padding: 12px 16px;
    width:600;
    font-size: 24px;
    border: 2px;
    
}
.nav-button :hover{
    background-color: rgb(174, 21, 21);
}
