*{
    margin: 0;
    padding: 0;
}

.displaypixel{
     max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
   
}
.header-main{

}
.header-main .main-nav{
    display: flex;
    justify-content:space-around;
}
.main-nav .nav-ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
    align-items: center;
    gap: 32px;
}
.nav-ul li a{
   text-decoration: none;
  font-size: 24px;
  color: black;
}

.nav-button{

    color: rgb(255, 255, 255);
    border-radius: 5px;
    background: #30B868;
    padding: 12px 16px;
    width:600;
    font-size: 24px;
    border: 2px;
    
}
.nav-button :hover{
    background-color: rgb(174, 21, 21);
}

.banner-bg{
     background-image: url("/images/hero-bg.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    height: 480px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40;
    padding: 70px 120px 134px 120px;
    width: 700;
    margin-bottom: 16px;
    margin: 10px auto;

}

.midle h2{
    font-size: 82px;
}

.midle p{

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    justify-items: center;
    margin-bottom: 32px;
}
.pillshape{

 display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 14px 28px 14px 18px;
  background: #ffffff;
  border-radius: 999px; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

   
}
.pillshape{
    display: flex;
    justify-content: center;
}
.eflex{
    display: flex;
    justify-items: center;
    align-items: center;

}
.eflex h1{
    color: #30B868;
    margin-left: 12px;
    font-size: 16px;
}
.phil{
     display: inline-flex;
  align-items: center;
  padding: 14px 28px;
  background-color: #ffffff;
  border-radius: 9999px;
}
.dots{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #30e87c60;
    border: 8px solid rgba(0, 128, 0, 0.24);
    outline: 8px solid rgb(207, 237, 207);
    align-items: center;
    
}

.banner-b{
   color: rgb(255, 255, 255);
    border-radius: 5px;
    background: #30B868;
    padding: 12px 16px;
    width:600;
    font-size: 24px;
    border: 2px;  
}
.banner-bb{
     color: rgb(144, 0, 255);
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    width:600;
    font-size: 24px;
    border: 2px;

}
.banner-bg .midle{

  justify-content: center;
  gap: 20px;
  margin: 115px 120px ;

  flex-direction: column;   
  align-items: center;      
  text-align: center;
}













.styless{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #30B868;
    border: rgb(251, 0, 255) solid yellow;
    outline: 8px solid green   ;
}
.pillshape{
    background-color: #db2c2c;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;

}






























.four-shape{
 
  width: 60px;     
  height: 60px;
  border-radius: 50%;
  background-color: #f95555;
  display: flex;       
  justify-content: center;
  align-items: center;  
     
}


.cirle-small{

  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;              
  justify-content: center;   
  align-items: center;        

  text-align: center;





}
.item-border{
    background-color: bisque;
    border-radius: 10px;
    gap: 16px;
    width: 322px;
    height:300px;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;  
    

}
.multi{
    flex-direction: column;   
  align-items: center;      
  text-align: center;
}
.multi h2{
    font-size: 48px;
    line-height: 24px;
    margin: 20px;
}
.multi p{
    margin-bottom: 44px;
}
.early-section{
    display: flex;
    gap: 24px;
  
   align-items: center;      
   text-align: center;
}
.early-section h2{
  flex-direction: column;   
  align-items: center;      
  text-align: center;
}
.early-section .item-border{
  display: flex;
  flex-direction: column;   
  align-items: center;      
  text-align: center;
  
  gap: 24px;
}
.item-border p{
    margin: 5px;;
}








.section-brain{
    background-color: rgba(247, 246, 242, 1);
    border-radius: 10px;
    margin: 120px;
    max-width: 1200;
    margin: auto;
    margin-top: 23px;
}

.bain-section{
    display: flex;
    justify-content: center ;
    align-items: center;
    text-align: justify;
    
}

.ceckboxs {
  display: flex;
  align-items: flex-start; 
  gap: 10px;
  margin-bottom: 12px;
}
.ceckboxs img {
  width: 18px;
  height: 18px;
  margin-top: 4px;         
}
.ceckboxs p {
  margin: 0;
  line-height: 1.6;
}

.cecks-mul{
    
   margin-left: 20px;
}


.cecks-mul h1{
    line-height: 20px;
    font-size: 16px;
    color: #30B868;
}
.cecks-mul h2{
 
   color: #627382, rgba(98, 115, 130, 1);
   margin-bottom: 16px;
}
.cecks-mul p{
 
   color: #627382, rgba(98, 115, 130, 1);
   margin-bottom: 16px;
}


.btn {
  display: flex;
  align-items: center;      
  justify-content: center;   
  gap: 12px;

  background-color: #4f9b6a;
  color: #fff;
  padding: 18px 40px;
  border: none;
  border-radius: 10px;

  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.btns {
  display: flex;
  align-items: center;      
  justify-content: center;   
  gap: 12px;

  background-color: #4f9b6a;
  color: #fff;
  padding: 18px 40px;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: transparent;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}


.duo-class{
    display: flex;
    gap: 30px;
    justify-content: center;
   
}









.nav-buttons{

width: 194px;
height: 52px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;


    
}
.nav-buttons img{
    width: 16px;
    gap: 16px;
}

.btns {
  display: flex;
  align-items: center;      
  justify-content: center;   
  gap: 12px;

  background-color: #4f9b6a;
  color: #fff;
  padding: 18px 40px;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: transparent;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.no-bullet{
    list-style: none;
    white-space: no;
}
.early_section .last-btn{

  align-items: center;      
  justify-content: center;   
  gap: 12px;

  background-color: #4f9b6a;
  color: #fff;
  padding: 18px 40px;
  border: none;
  border-radius: 10px;

  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.early_section{
 display: flex;          
  flex-direction: column;
  align-items: center;      
  text-align: center;
  border-radius: 12px;
  background-color: rgba(247, 246, 242, 1);
 
  margin: 40px auto;
  
}

#footer-sec{
    background-color: rgba(0, 25, 49, 1);
}

.sectin-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.social-div{
    justify-content: center;
    text-align:center;

    
}
.footer-line{
    margin-bottom: 30px;
}
.section-footer{
    padding: 120px 110px;
}
.section-footer h1{
    font-size: 16px;
    color: white;
    justify-content: center;
    text-align: center;

}
.div-mar img{
margin: 16px;
}
.social-div h1{
    font-size:20px;
}
